# Exercise - Binary Classification with Perceptron

Classify vehicle mileage as high or low based on two features, weight and horsepower using Perceptron model.

## Perform the following functions
1. Plot the scatter of weight vs horsepower. The vehicles with high mileage should be in blue color and low should be in red color. Give appropriate legends. 
2. Split the data set into training and testing data set. Use the train_test_split function to get a 80:20 split, using random_state 3. Plot a bar chart of number of 1's and 0's in the training dataset. 
4. Use the perceptron model to classify the data, and get predictions for test dataset.
5. Obtain the confusion matrix of the output.
6. Plot the separating hyperplane on the training dataset.
7. Get the classification result for the values of weight 2, 3.3, 1.21, 5.32, 1.23, 4.8 and horsepower 20, 29, 13, 100, 40, 49 respectively. 

## Split the dataset with 80:20 ratio, but with random_state 299. Get the output of steps 3, 4, 5, 6. What is the difference from the previous output?

## Perform KFold cross validation for k=3 to 6 for this dataset.

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
from io import StringIO
dataset =StringIO('''
weight,horsepower,mileage
1.4,43,1
1.5,8,0
2.71,44,1
3.55,23,0
2.5,15,0
2.9,19,0
3.85,112,1
3.96,87,1
4.62,108,1
4.7,21,0
2.67,34,1
2.5,20,0
1.932,12, 0
4.8,48,1
1.321,32,1
1.9013,52,1
4.13,19,0
2.8,29,0
''')
df = pd.read_csv(dataset)
df.head()

   weight  horsepower  mileage
0    1.40          43        1
1    1.50           8        0
2    2.71          44        1
3    3.55          23        0
4    2.50          15        0