# Student Clustering

The 'Indian_Student_Data.csv' file contains different countries and the percentage of Indian students studying in them. The countries are listed by name, latitude & longitude and a country code. 

We have to cluster students based on their numbers and country and plot on plotly's geographical map. 

Solve the following questions:
1. Choose the number of clusters by observing the data distribution. Justify your choice of clusters. 
2. Run the KMeans clustering algorithm and chosen number of clusters in Qt 1. Use the features latitude, longitude, percentage for the clustering. 
3. Plot the clusters on the plotly's geographical map. The graphs should look like this below (colors can vary). \
4. **BONUS** For every cluster you make, find out the sum of sqaured errors. https://en.wikipedia.org/wiki/Partition_of_sums_of_squares#Background. 

![Image](./data/StudentClustering_plotly.png)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv("./data/Indian_Student_Data.csv")
df.head()

,country,no_of_indian_students,percentage,latitude,longitude,code
0,United States of America,165918,37.134985,39.783730,-100.445882,USA
1,Australia,66886,14.970109,-24.776109,134.755000,AUS
2,Canada,50000,11.190764,61.066692,-107.991707,CAN
3,New Zealand,32000,7.162089,-41.500083,172.834408,NZL
4,Bahrain,27000,6.043013,35.207801,72.547397,BHR