# Question 3 - Clustering Analysis

The data contains two columns x1 & x2 on which clustering has to be performed.  

## Task
Perform Clustering on the data and find out cluster properties

## Mark Distribution
1. Data Visualization of x1 vs x2 with proper labels and axes
2. Kmeans clustering and visualization of clusters with proper labelling and axes
3. Mean distance of each cluster from the centroid
4. Sum of Square Error (from the mean distance of the cluster) for every cluster
5. One line in every cluster from the centroid to the point having maximum distance

In [1]:
import pandas as pd
df = pd.read_csv('./data/clustering data.csv')
df.head()

    x1   x2
0  3.5  0.2
1  3.0  0.2
2  3.2  0.2
3  3.1  0.2
4  3.6  0.2