## Kmeans clustering example

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import numpy as np

In [2]:
df = pd.DataFrame(data={"x0":[7, 5, 7, 3, 4, 1, 0, 2, 8, 6, 5, 3], 'x1':[5, 7, 7, 3, 6, 4, 0, 2, 7, 8, 5, 7]})
df

    x0  x1
0    7   5
1    5   7
2    7   7
3    3   3
4    4   6
5    1   4
6    0   0
7    2   2
8    8   7
9    6   8
10   5   5
11   3   7