In [8]:
# import the pandas library
import pandas as pd
import numpy as np

#another way of creating a data frame
ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

df = pd.DataFrame(ipl_data)
print(df)

    Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
2      863     2  Devils  2014
3      673     3  Devils  2015
4      741     3   Kings  2014
5      812     4   kings  2015
6      756     1   Kings  2016
7      788     1   Kings  2017
8      694     2  Riders  2016
9      701     4  Royals  2014
10     804     1  Royals  2015
11     690     2  Riders  2017

In [6]:
for name,group in df.groupby('Rank'):
    print(name, "\n", group, "\n")

1
     Points  Rank    Team  Year
0      876     1  Riders  2014
6      756     1   Kings  2016
7      788     1   Kings  2017
10     804     1  Royals  2015

2
     Points  Rank    Team  Year
1      789     2  Riders  2015
2      863     2  Devils  2014
8      694     2  Riders  2016
11     690     2  Riders  2017

3
    Points  Rank    Team  Year
3     673     3  Devils  2015
4     741     3   Kings  2014

4
    Points  Rank    Team  Year
5     812     4   kings  2015
9     701     4  Royals  2014

In [7]:
for name, group in df.groupby('Team'):
    print(name, "\n", group, "\n")

Devils
    Points  Rank    Team  Year
2     863     2  Devils  2014
3     673     3  Devils  2015

Kings
    Points  Rank   Team  Year
4     741     3  Kings  2014
6     756     1  Kings  2016
7     788     1  Kings  2017

Riders
     Points  Rank    Team  Year
0      876     1  Riders  2014
1      789     2  Riders  2015
8      694     2  Riders  2016
11     690     2  Riders  2017

Royals
     Points  Rank    Team  Year
9      701     4  Royals  2014
10     804     1  Royals  2015

kings
    Points  Rank   Team  Year
5     812     4  kings  2015