## Dictionaries
Creating a dictionary, adding values to dictionary
Updating a dictionary
Properties - key unique, key immutable show with example
Length and str function
dict.keys and items functions, dict.has and get functions

-Creating a dictionary
-Access elements of a dictionary

In [5]:
dictionary1 = {"jan":31, "feb":28, "march":31}
print (dictionary1)
print (dictionary1["jan"])
print (dictionary1["march"])
print (dictionary1["april"])

{'march': 31, 'jan': 31, 'feb': 28}
31
31

KeyError: 'april'

-Update a dictionary
-Dictionaries are unordered

In [8]:
dictionary1 = {"jan":31, "feb":28, "march":31}
dictionary1["april"] = 30
print (dictionary1)

dictionary1["jan"] = 25
print (dictionary1)

{'april': 30, 'march': 31, 'jan': 31, 'feb': 28}
{'april': 30, 'march': 31, 'jan': 25, 'feb': 28}

-Delete dictionary element

In [9]:
dictionary1 = {"jan":31, "feb":28, "march":31,"april":30}
del dictionary1["april"]
print (dictionary1)

{'march': 31, 'jan': 31, 'feb': 28}

-Properties - key unique, key immutable show with example

In [11]:
dictionary1 = {"jan":31, "feb":28, "march":31, "jan":35}
print (dictionary1["jan"])

dictionary2 = {[1,2,3]:45, "jan":30}

35

TypeError: unhashable type: 'list'

-Dictionary functions

In [16]:
dictionary1 = {"jan":31, "feb":28, "march":31,"april":30}
print (len(dictionary1))

print (str(dictionary1))
print (type((str(dictionary1))))

4
{'april': 30, 'march': 31, 'jan': 31, 'feb': 28}
<class 'str'>

-dict.get(key, default=None)
-dict.items()
-dict.keys()

In [24]:
dictionary1 = {"jan":31, "feb":28, "march":31,"april":30}

print (dictionary1.get("jan",None))
print (dictionary1.get("jan",45))
print (dictionary1.get("january",None))
print (dictionary1.get("january",45))
#prevent a key error 

print (dictionary1.items())

print (dictionary1.keys())

31
31
None
45
dict_items([('april', 30), ('march', 31), ('jan', 31), ('feb', 28)])
dict_keys(['april', 'march', 'jan', 'feb'])

## Tuples

just basic - creating a tuple, indexing, show can't change

In [26]:
tuple1 = (30, 50, "jan", 'a', 45.5)
print (tuple1)

print (tuple1[0])
print (tuple1[-1])
print (tuple1[1:4])
print (tuple1[1:4:1])
print (tuple1[1:4:2])

print (tuple1[::-1])

(30, 50, 'jan', 'a', 45.5)
30
45.5
(50, 'jan', 'a')
(50, 'jan', 'a')
(50, 'a')
(45.5, 'a', 'jan', 50, 30)

-A tuple is immutable - it cannot be altered

In [27]:
tuple1 = (30, 50, "jan", 'a', 45.5)
tuple1[1] = 70

TypeError: 'tuple' object does not support item assignment

## Loops

for loop
range function - range object - convert into list

-range function

In [37]:
print (range(1,10))
#returns an obejct not an iterable

range(1, 10)

In [39]:
print (list(range(1,10)))
#range needs to be type-casted into list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
print (list(range(1,10,1)))
print (list(range(1,10,2)))
print (list(range(1,10,2.5)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

TypeError: 'float' object cannot be interpreted as an integer

In [44]:
for everyItem in list(range(1,10)):
    print(everyItem)

#print on same line    
for everyItem in list(range(1,10)):
    print(everyItem , end="")

1
2
3
4
5
6
7
8
9
123456789

In [46]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for everyElement in list1:
    if everyElement %2 == 0:
        print(everyElement)
        #print(everyElement, end="")

2
4
6
8
10

In [47]:
list2 = ["jan", 34, 45.5, "hello", 'a']
for everyElement in list2:
    print(everyElement)

jan
34
45.5
hello
a

## Functions
creating a basic function
sending parameters to function
returning value from function
setting default parameter in function
local vs global variables
*args **kwargs

-creating a basic function

In [49]:
def addition():
    print (3+4)
    
addition()

7

-passing parameters

In [50]:
def addition(a,b):
    print(a+b)

addition(3,4)

7

-the return statement

In [52]:
def addition(a,b):
    return (a+b) 

sum = addition(3,4)
print(sum)

7

-dafault parameters

In [53]:
def addition(a,b=6):
    return (a+b) 

sum = addition(3)
print(sum)

9

-local vs global

In [56]:
sum1 = 0 #this is global
print("value of sum1 is {0}".format(sum1))

def addition(a,b):
    sum1 = a+b #this sum1 is local
    print("value of sum1 is {0}".format(sum1)) #this prints inside function sum1
    return sum1

sum2 = addition(3,4)
print("value of sum2 is {0}".format(sum2))
print("value of sum1 is {0}".format(sum1)) #this accesses sum1 outside function global one

value of sum1 is 0
value of sum1 is 7
value of sum2 is 7
value of sum1 is 0

-*args and **kwargs

 allows us to pass variable number of arguments to the function.

In [60]:
def sum(*args):
    "this function returns sum of all the arguements given"
    s = 0
    for i in args:
        s += i
    print("sum is", s)
    
sum(3,4)
sum(3,4,5,6)
sum(4,4,2)

sum is 7
sum is 18
sum is 10

In [61]:
def sum(*args):
    print (args)
    print (type(args))
    s = 0
    for i in args:
        s += i
    print("sum is", s)

sum(3,4,5)

(3, 4, 5)
<class 'tuple'>
sum is 12

**kwargs allows us to pass variable number of keyword argument like this func_name(name='tim', team='school')

In [63]:
def my_func(**kwargs):
    "this function prints the key and its value (**kwargs)"
    for i, j in kwargs.items():
        print(i, j)
 
my_func(name='tim', sport='football', roll=19)

sport football
roll 19
name tim

In [64]:
def my_func(**kwargs):
    "this function prints the key and its value (**kwargs)"
    for i, j in kwargs.items():
        print(i, j)
 
my_func(name='tim', sport='football', roll)

SyntaxError: non-keyword arg after keyword arg (<ipython-input-64-8e7fb6d18d5c>, line 6)

In [65]:
def my_func(**kwargs):
    "this function prints the key and its value (**kwargs)"
    print (kwargs)
    print (type(kwargs))
    for i, j in kwargs.items():
        print(i, j)
 
my_func(name='tim', sport='football', roll=19)

{'sport': 'football', 'roll': 19, 'name': 'tim'}
<class 'dict'>
sport football
roll 19
name tim

-use *args and **kwargs in function call

In [66]:
def my_three(a, b, c):
    print(a, b, c)
 
a = [1,2,3]
my_three(*a) # here list is broken into three elements

1 2 3

In [68]:
def my_three(a, b, c):
    print(a, b, c)
 
a = {'a': "one", 'b': "two", 'c': "three" }
my_three(**a)

one two three

-The in operator with lists and dictionary

In [72]:
if 4 in list(range(1,10)):
    print("Hello1")
    
if 4 in list(range(1,10,2)):
    print("Hello2")
    
if 4 not in list(range(1,10,2)):
    print("Hello3")

Hello1
Hello3

-strings methods
-startswith, endswith, strip, lower, upper, rstrip, lstrip, format, join, replace, swap case

In [75]:
str1 = "Cat apple ball mango"
if str1.startswith("Cat"):
    print("Hello1")
if str1.startswith("Dog"):
    print("Hello2")
if str1.startswith("Cat-"):
    print("Hello3")
    
if str1.endswith("mango"):
    print("Hello4")
if str1.endswith("ball"):
    print("Hello5")
if str1.endswith("-mango"):
    print("Hello6")

Hello1
Hello4

-strip

In [83]:
#strip
str1 = "0000Cat apple ball mango000000"
print (str1.strip('0'))

str1 = "0000Cat apple ball mango000000"
print (str1.strip('3'))

str1 = "username is aditya    "
print (str1.strip())

#lstrip()
str1 = "0000Cat apple ball mango000000"
print (str1.lstrip('0'))

str1 = "0000Cat apple ball mango000000"
print (str1.lstrip('3'))

#rstrip()
str1 = "0000Cat apple ball mango000000"
print (str1.rstrip('0'))

str1 = "0000Cat apple ball mango000000"
print (str1.rstrip('3'))

Cat apple ball mango
0000Cat apple ball mango000000
username is aditya
Cat apple ball mango000000
0000Cat apple ball mango000000
0000Cat apple ball mango
0000Cat apple ball mango000000

-islower() -isupper() -upper() -lower()

In [96]:
str1="HELLO"
str2="hello"
str3="HEllo"
if str1.isupper():
    print("success1")
    
if str2.isupper():
    print("success2")
  
if str3.isupper():
    print("success3")
    
    
if str1.islower():
    print("success4")
    
if str2.islower():
    print("success5")
  
if str3.islower():
    print("success6")
    
print (str2.upper())
print (str3.upper())
print (str2)
print (str3)
print("......")
print (str1.lower())
print (str3.lower())
print (str1)
print (str3)
print("......")
print (str1.swapcase())
print (str2.swapcase())
print (str3.swapcase())

success1
success5
HELLO
HELLO
hello
HEllo
......
hello
hello
HELLO
HEllo
......
hello
HELLO
heLLO

-replace()  -join()  -split()

In [104]:
#replace
oldstring = 'I like python programming' 
newstring = oldstring.replace('like', 'love')
print(newstring)

#what happens when no match?
oldstring = 'I like python programming' 
newstring = oldstring.replace('apple', 'mango')
print(newstring)

#join
print ("-".join(["34","55","46","75"]))

mySeq = ["aditya","rahul","akansha","allen"]
print((" & ").join(mySeq))

#split()
str1 = "cat,ball,apple,mango"
print (str1.split(","))
print (type(str1.split(",")))

I love python programming
I like python programming
34-55-46-75
aditya & rahul & akansha & allen
['cat', 'ball', 'apple', 'mango']
<class 'list'>