# Exercise - Classification of Liver Disease Patients

The dataset is classification of patients having liver disease. It is available at https://www.kaggle.com/uciml/indian-liver-patient-records/data.

We will classify this data using Random Forest Trees and Decision Trees.

### Perform the following operations:
1. Read the data into python using pandas. 
2. Plot the following:  
   Number of cases having liver disease and no disease  
   Number of cases having liver disease and no disease gender wise, two separate graphs  
   Heat map of Correlation Matrix of the entire dataset. Are there are any interconnected features looking at the matrix?  
   A pairwise scatter plot of all the features, separated by records having disease and not having diseases. Example image is attached below. 
3. If there is a positive or a negative correlation between any features, remove either of them from the dataset. If there are any NaNs in the dataset, fill them up as well with a suitable method. Convert any string categories into numeric. 
4. Split your data manually into training and testing. Make sure you get an equal distribution of both the classes in the training dataset. 
5. Perform Decision Tree classification with entropy gain with a depth of 3 & 4. 
6. Perform Random Forest Tree classification with entropy gain, number of trees as 3 and a depth of 3. 
7. Compare your output with the following metrics:  
   Classification Report, Confusion Matrix, Decision Tree.
8. Plot the decision trees for all the models.
   ![Image](./data/example_image.png)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
df = pd.read_csv('./data/indian_liver_patient.csv')
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1