## Basics of Python
Installing python 3.6, jupyter notebook
Python shell, Print hello world, type function

In [ ]:
print ("Hello World")

Let's try it out on other common values

In [ ]:
print (4)
print (9.5)
print ('a')

In [ ]:
Using the type() function to determine data types.

In [3]:
print (type("Hello World"))
print (type(4))
print (type(9.5))
print (type('a'))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'str'>

## Arithmetic Operations
Python gives us 5 basic arithmetic operators - addition , subtraction, multiplication, division, modulus.

In [5]:
print (3+4)
print (3-4)
print (3*4)
print (3/4)
print (3%4)

7
-1
12
0.75
3

Also try out the division operation specifically with float-float and float-int data types

In [10]:
print (5.5/2)
print (5.5/2.5)

print (2.5*3)
print (2.5*3.0)

print (5/2)
print (5//2)
print (5/2.0)

2.75
2.2
7.5
7.5
2.5
2
2.5

## Lists
Creating a list, List indexing, Updating lists
List operations (add, mul with integer - sub, div - doesn't work but show)
List slicing (postitive and negative indexing)
List Operations (append, length)

-Creating a list

In [16]:
list1 = [2,5,6,8,15]
list2 = ["rahul",4.5,3340,"apple"]
print (list1)
print (list2)

[2, 5, 6, 8, 15]
['rahul', 4.5, 3340, 'apple']

-List Indexing

In [17]:
print (list1[1])
print (list1[4])
print (list1[0])
print (list2[2])
print (list2[0])

5
15
2
3340
rahul

-Updating Lists

In [21]:
list1[0] = 35
print (list1)
list2[3] = "Anuj"
print (list2)

[35, 5, 6, 8, 15]
['rahul', 4.5, 3340, 'Anuj']

-List Operations

In [27]:
list1 = [1,2,3,4]
list2 = [6,7,8,9]
print (list1+list2)
print (list1-list2)
print (list1*list2)
print (list1*3)
print (list1/list2)
print (list1/2)

[1, 2, 3, 4, 6, 7, 8, 9]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

-Positive and Negative Indexing

In [28]:
list1 = [1,2,3,4,5,6]
print (list1[0])
print (list1[-1])

1
6

-List slicing

In [32]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print (list1[2:6])
print (list1[0:6])
print (list1[:4])
print (list1[4:])

[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]

In [68]:
#third parameter steps
list1 = [1,2,3,4,5,6,7,8,9,10]
print (list1[2:8])
print (list1[2:8:1])
print (list1[2:8:2])

[3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]
[3, 5, 7]

In [37]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print (list1[-1])
print (list1[-5:-1])
print (list1[:-1])

10
[6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print (list1[-5:-1])
print (list1[-5:-1:1])
print (list1[-5:-1:2])

[6, 7, 8, 9]
[6, 7, 8, 9]
[6, 8]

-List Functions

In [39]:
list1 = [1,2,3,4,5,6,7,8,9,10]
print (len(list1))
list1.append(11)
print (list1)

10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Strings
Declaring string, string indexing
String operations (add, mul by integer - sub, div - doesn't work but show)
cant change once created
Printing formatted string

-Declaring Strings and Indexing

In [44]:
str1 = "This is Python"
print (str1[2])
print (str1[-1])
print (str1[-5])

print (str1[1:6])
print (str1[:7])
print (str1[:-1])
print (str1[5:-1])

i
n
y
his i
This is
This is Pytho
is Pytho

-String operations

In [45]:
str1 = "This is First Part"
str2 = "This is Second Part"
print (str1+str2)
print (str1-str2)
print (str1*str2)
print (str1*2)
print (str1/str2)
print (str1/4)

This is First PartThis is Second Part

TypeError: unsupported operand type(s) for -: 'str' and 'str'

-Formatted String

In [59]:
number1 = 40
#first method
print ("Value of number is %d" % (number1))
number2 = 55.5
print ("Values of number1 and number2 are %d and %f"%(number1, number2))
print ("Values of number1 and number2 are %d and %2.2f"%(number1, number2))

#second method
print ("Value of number is {0}".format(number1))
print ("Values of number1 and number2 are {0} and {1}".format(number1, number2))
print ("Values of number1 and number2 are {num1} and {num2}".format(num1=number1, num2=number2))

Value of number is 40
Values of number1 and number2 are 40 and 55.500000
Values of number1 and number2 are 40 and 55.50
Value of number is 40
Values of number1 and number2 are 40 and 55.5
Values of number1 and number2 are 40 and 55.5

## User Input
The input function - show use and data type always string
Apply type conversion on string input

In [60]:
userValue = input("Type you name")
print (userValue)
print (type(userValue))

Type you nameaditya
aditya
<class 'str'>

In [61]:
userAge = input("Type you age")
print (userAge)
print (type(userAge))

Type you age45
45
<class 'str'>

In [62]:
userAge = int(input("Type you age"))
print (userAge)
print (type(userAge))

Type you age45
45
<class 'int'>

In [64]:
userLetter = input("Type your favourite letter")
print (userLetter)
print (type(userLetter))

Type your favourite letterr
r
<class 'str'>

## Conditionals
if , if else, if elif else

In [1]:
value1 = 30

if value1>25:
    print ("hello")

hello

In [3]:
value1 = 30

if value1>40:
    print ("hello")

In [4]:
value1 = 30

if value1>40:
    print ("hello1")
else:
    print ("hello2")

hello2

In [5]:
value1 = 35

if value1>40:
    print ("hello1")
elif value1>30:
    print ("hello2")
else:
    print ("hello3")

hello2

In [6]:
num1 = 23

if num1>50:
    print ("hello1")
elif num1>40:
    print ("hello2")
elif num1>30:
    print ("hello3")
elif num1>20:
    print ("hello4")
elif num1>10:
    print ("hello5")
else:
    print ("hello6")

hello4

## Labs

1-Write a program to reverse the given list. 
list1 = [2,4,6,8,10]

2-Write a program that takes a number from user, calculates the square and prints the same

3-Write a program that inputs Principal, No of Years and Rate of Interest from user and outputs Simple Interest