In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [3]:
cols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'flower']
df = pd.read_csv('./data/iris.data.txt', header=None, names=cols)
print(df['flower'].unique())
df.head()

['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

   sepal_length  sepal_width  petal_length  petal_width       flower
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df['flower'] = df['flower'].apply(lambda x: 0 if x == 'Iris-setosa' else (1 if x == 'Iris-versicolor' else 2))
df.head()

   sepal_length  sepal_width  petal_length  petal_width  flower
0           5.1          3.5           1.4          0.2       0
1           4.9          3.0           1.4          0.2       0
2           4.7          3.2           1.3          0.2       0
3           4.6          3.1           1.5          0.2       0
4           5.0          3.6           1.4          0.2       0

In [16]:
# n_estimators = number of forest 
forest = RandomForestClassifier(criterion='entropy', n_estimators=2)

In [17]:
X_train, X_test, y_train, y_test = train_test_split(df[cols[:-1]], df['flower'])
obtained_tree = forest.fit(X_train, y_train)

In [18]:
obtained_y = obtained_tree.predict(X_test)

In [19]:
confusion_matrix(y_test, obtained_y)

array([[16,  0,  0],
       [ 0, 13,  0],
       [ 0,  2,  7]], dtype=int64)

In [20]:
print(classification_report(y_test, obtained_y))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        16
          1       0.87      1.00      0.93        13
          2       1.00      0.78      0.88         9

avg / total       0.95      0.95      0.95        38

## Can you improve the accuracy of your model? How? What parameters will you change?

## Can you implement cross validation here?